<p>
    <mat-toolbar>
      <div class="w-100 d-flex justify-content-between">
      <span>Previous Recordings</span>
      <button class="btn btn-primary">Back</button>
    </div>
    </mat-toolbar>
  </p>
<div class="container-fluid">
    <div class="container">
        <div class="card">
             <div class="card-body">
                <section class="table-container mt-3" tabindex="0">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Email</th>
                            <th scope="col">Download Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let record of recordList;let i = index;">
                            <ng-container>
                              <td>
                                  1
                              </td>
                              <td>
                                  {{record.title}}
                              </td>
                              <td>
                                 {{record.email}}
                              </td>
                              <td>
                                 <a target="_blank" href="record.file">View</a> 
                              </td>
                          </ng-container>
                          </tr>
                          <!-- <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr> -->
                        </tbody>
                      </table>
                </section>
             </div>
        </div>
    </div>
</div>

