<p>
    <mat-toolbar>
      <div class="w-100 d-flex justify-content-between">
      <span>Previous Recordings</span>
      <button class="btn btn-primary">Back</button>
    </div>
    </mat-toolbar>
  </p>
<div class="container-fluid">
    <div class="container">
        <div class="card">
             <div class="card-body">
                <section class="table-container mt-3" tabindex="0">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let record of recordList;let i = index;">
                            <ng-container>
                              <td>
                                  {{i+1}}
                              </td>
                              <td>
                                  {{record.title}}
                              </td>
                              <td>
                                 {{record.email}}
                              </td>
                              <td>
                                 <a (click)="openView(record.linkid)">View Recordings</a> 
                              </td>
                          </ng-container>
                          </tr>
                        </tbody>
                      </table>
                </section>
             </div>
        </div>
    </div>
</div>

