<div class="loading-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<p>
    <mat-toolbar>
      <div class="w-100 d-flex justify-content-between">
      <span>Previous Recordings</span>
      <button class="btn btn-primary mr-2" (click)="backToDefault()"><i class="bi bi-arrow-left mr-2"></i>Invite User</button>
    </div>
    </mat-toolbar>
</p>
<div class="container-fluid">
  <!-- <mat-spinner  *ngIf="loading">
  </mat-spinner> -->
    <div class="container">
        <div class="card">
             <div class="card-body">
                <section class="table-container mt-3" tabindex="0">
                    <table class="table table-striped table-responsive ">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Email</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Invitation Link</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let record of recordList;let i = index;">
                            <ng-container>
                              <td>
                                  {{i+1}}
                              </td>
                              <td>
                                  {{record.title}}
                              </td>
                              <td>
                                 {{record.email}}
                              </td>
                              <td>
                                <ng-container *ngIf="record.logo; else default"><img width="50" src="{{record.logo}}" alt=""></ng-container>
                                <ng-template #default>
                                  <img width="50" src="/src/assets/video-icon-8034.jpeg" alt="">
                                </ng-template>
                              </td>
                              <td>
                                 <a href="{{record.Invitelink}}">
                                    {{record.Invitelink}}
                                 </a>
                              </td>
                              <td>
                                 <a (click)="openView(record.linkid)">View Recordings</a> 
                                 <a (click)="updateView(record)"><i class="bi bi-pencil-square icons ml-2 pointer" matTooltip="Edit"></i> Edit</a>
                              </td>
                          </ng-container>
                          </tr>
                        </tbody>
                      </table>
                </section>
             </div>
        </div>
    </div>
</div>

