<!-- <div class="bg-light d-flex flex-row align-items-center">
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card-group">
        <div class="card border-0">
          <div class="card-header">
            Generate Link
          </div>
          <div class="card-body">
            <form [formGroup]="generateLinkForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['email']">Invalid email format.</div>
                  </div>
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title" autocomplete="off">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                    <div *ngIf="title.errors?.['required']">Title is required.</div>
                  </div>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="loading || generateLinkForm.invalid"
              (click)="onGenerateLink()">
              <ng-container *ngIf="loading; else text">
                <mat-spinner color="primary" diameter="18">
                </mat-spinner>
              </ng-container>
              <ng-template #text>Generate Link</ng-template>
            </button>
            </form>
          </div>
        </div>
        <div class="align-items-center bg-black card d-flex justify-content-between p-4 py-5 text-white">
          <h2 class="h2">Welcome to Video Recording App</h2>
          <span class="material-symbols-outlined">
            videocam
          </span>
          <span>Login to your account to generate link</span>
        </div>
      </div>
      </div>
      <div class="link-container mt-3">
        <a href="{{link}}">{{link}}</a>
      </div>
    </div>
  </div>
</div>
 -->
<div class="login-page bg-light d-flex flex-row align-items-center">
  <div class="container">
    <div class="row w-60">
      <div class="col">
        <div class="d-flex justify-content-between">
          <h3 class="mb-3">Invite User here</h3>
          <button class="btn btn-primary mb-3" (click)="viewRecording()">View Previous Recordings</button>
        </div>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form [formGroup]="generateLinkForm" class="row g-4">
                  <div class="col-12">
                    <label>Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                      </div>
                      <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="Enter email">
                      </div>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors?.['required']">Email is required.</div>
                        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label>Title<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                        <input type="text" class="form-control" id="title" formControlName="title"
                          placeholder="Enter Title" autocomplete="off">
                      </div>
                      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                        <div *ngIf="title.errors?.['required']">Title is required.</div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                      <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                    </div>
                  </div> -->
                  <!-- <div class="col-sm-6">
                                          <a href="#" class="float-end text-primary">Forgot Password?</a>
                                      </div> -->
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary px-4 float-end mt-4 d-flex btn-general"
                      [disabled]="loading ||  generateLinkForm.invalid" (click)="onGenerateLink()">
                      Generate Link
                      <ng-container class="ml-2">
                        <mat-spinner *ngIf="loading" diameter="18">
                        </mat-spinner>
                      </ng-container>
                      </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="col-md-5 ps-0 d-none d-md-block">
              <div class="form-right h-100 bg-primary text-white text-center pt-5">
                <span class="material-symbols-outlined">
                  videocam
                </span>
                <h2 class="fs-1">Welcome Back!!!</h2>
              </div>
            </div> -->
          </div>
        </div>
        <!-- <p class="text-end text-secondary mt-3">Videocam</p> -->
      </div>
    </div>
  </div>
</div>