<div class="login-page bg-light d-flex flex-row align-items-center">
  <div class="container">
    <div class="row w-60">
      <div class="col">
        <div class="d-flex justify-content-between">
          <h3 class="mb-3">Invite User here</h3>
          <button class="btn btn-primary mb-3" (click)="viewRecording()">View Previous Recordings</button>
        </div>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form [formGroup]="generateLinkForm" class="row g-4">
                  <div class="col-12">
                    <label>Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group">
                        <div class="input-group-text">
                          <i class="bi bi-person-fill"></i>
                        </div>
                        <input type="email" class="form-control" id="email" formControlName="email"
                          placeholder="Enter email">
                      </div>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors?.['required']">Email is required.</div>
                        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label>Title<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                        <input type="text" class="form-control" id="title" formControlName="title"
                          placeholder="Enter Title" autocomplete="off">
                      </div>
                      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                        <div *ngIf="title.errors?.['required']">Title is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <file-pond id="file" formControlName="logo" class="pointer" multiple ngDefaultControl type="file"
                      #myPond [options]="pondOptions" (onaddfile)=" onFileSelected($event)"
                      (onremovefile)="onRemoveFile()">
                    </file-pond>
                  </div>
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary px-4 float-end d-flex btn-general"
                      [disabled]="loading || generateLinkForm.invalid" (click)="onGenerateLink()">
                      Generate Link
                      <ng-container class="ml-2">
                        <mat-spinner *ngIf="loading" diameter="18">
                        </mat-spinner>
                      </ng-container>
                    </button>
                  </div>
                  <div *ngIf="allowSend && !generateLinkForm.dirty" class="col-4">
                    <button class="btn btn-primary px-4 float-end d-flex" [disabled]="isLoading"
                      (click)="onSendLink()" matTooltip="Send link to Email" matTooltipPosition="above"><i
                        class="mr-2 bi bi-send"></i>
                      Send
                      <ng-container class="ml-2">
                        <mat-spinner *ngIf="isLoading" diameter="18">
                        </mat-spinner>
                      </ng-container>
                    </button>
                  </div>
                  <div *ngIf="allowSend && !generateLinkForm.dirty" class="col-4">
                    <button [cdkCopyToClipboard]="url" class="btn btn-primary px-4 float-end d-flex"
                      matTooltip="Copy link to clipboard" matTooltipPosition="above" (click)="copied()">
                      <i class="mr-2 bi bi-clipboard"></i>Copy
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>