/* 

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

  .card{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee !important;
  }
    
  .box{
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 30px;
    width: 100%;
    background: #fff;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 500px;
  }
    

  .card-header{
    color: #F0F5FB;
    background: #000;
    font-family: Proxima Nova;
    font-weight: 600;
    line-height: 40px;
    font-size: 25px;
  }

  a{
    color: #47A1F6;
  }
  
  .bg-color {
    background-color: aliceblue;
  }

  
  .h2 {
    margin-left: 50px;
    font-size: 30px;
  }
  
  .bg-black {
    background-color: #000 !important;
  }

  .material-symbols-outlined {
    font-size: 60px;
  }

  .form-label {
    font-size: 18px;
  }

  button {
    font-size: 18px;
    width: 136px;
  } */

  .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 
 
 .w-60 {
   width: 50%;
 }